body {
    margin: 0;
  }
  header {
    background-color: #ffffff;
    padding: 15px;
  }
  header ul {
    float: right;
    color: #27153E;
  }
  header li {
    display: inline-block;
    padding: 0px 5px;
    font-family: Avenir Next;
    font-weight: 600;
  }
  header p {
    display: inline-block;
    vertical-align: top;
    font-family: Avenir Next;
    color: #27153E;
    font-weight: 600;
  }
  .heroImg {
    background-color:#DDDCFD;
    padding: 100px 15px;
  }
  .content {
    max-width: 300px;
    margin: 0 auto;
    padding: 50px;
    background-color: #FFFFFF;
    text-align: center;
    font-family: Avenir Next;
    color: #27153E;
  }
  button {
    padding: 15px;
    background-color: #27153E;
    color :#DDDCFD;
    font-size: 15px;
    border-radius: 4px;
    font-family: Avenir Next;
  }

h2 {
    text-align: center;
    font-family: Avenir Next;
    color: #27153E;
}

  .flexContainer {
display: flex;
padding: 40px;
font-family: Avenir Next;
color:#27153E;
font-size: 14px;
  }
.cardone {
    width: 33%;
    text-align: center;
    padding: 15px;
}

.cardtwo {
    width: 33%;
    text-align: center;
    padding: 15px;
  
}

.cardthree {
    width: 33%;
    text-align: center;
    padding: 15px;
}

.workGrid {
    display: grid;
    background-color:#EDEDFF;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr;
    grid-template-areas: 
    " item-a item-a item-a item-a"
    "item-b item-b item-b item-b"
    "item-c item-c item-c item-c"
    ;
    padding: 70px;
}

.item-a {
padding: 20px;
font-family: Avenir Next;
color:#27153E;
}

.item-b {
    
    padding: 20px;
    font-family: Avenir Next;
    color:#27153E;
}

.item-c {

padding: 20px;
font-family: Avenir Next;
color:#27153E;
}

  footer {
    background-color:#27153E;
    padding: 15px;
    color: white;
  }
  footer ul {
    list-style: none;
    padding-left: 5px;
    
  }
  footer li {
    display: inline-block;
    padding: 0px 7px;
    font-family: Avenir Next;
    color:#DDDCFD;
  }
  

@media only screen and (max-width:600) {
    .flexContainer{
        display: flex;
        flex-direction: column;
      }   
      .cardone {
          width: 100%;
      }
      .cardtwo {
        width: 100%;
    }
    .cardthree {
        width: 100%;
    }

    .workGrid {
   position: static;
   margin: 20px;
   grid-template-rows: 300px 300px 300px 300px 300px;
   grid-template-columns: 1fr;
   grid-template-areas:
   "item-a"
   "item-b"
   "item-c"
   ;
    }
   
}